{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Mail </title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
      </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class=" container mt-3 message alert alert-{{message.tages}} text-center">{{message}}</div>
                {% endfor %}
            {% endif %}
            <section id="user-input" class="card">
                <div class="control">
            <form method="post" class="px-5 pt-5">
                {% csrf_token %}
                <label for="extra-name">New Password</label><br>
                <input type="password" name="password" id="password" required><br><br>
                <label for="extra-name">Confirm Password</label><br>
                <input type="password1" name="password1" id="password1" required><br><br>
                <button class="btn">Change Password</button>
            </form><br>
            </div>
            </section>
    </body>
</html>